* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Resize */
    font-size: 62.5%;

    /* Fonts */
    --font-sora: 'Sora', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
    --font-roboto-flex: 'Roboto Flex', sans-serif;

    --display-large: 800 7.2rem/130% var(--font-sora);
    --display-medium: 800 4.0rem/130% var(--font-sora);
    --display-small: 700 3.2rem/130% var(--font-sora);

    --overline: 700 1.6rem/150% var(--font-roboto-mono);
    --result-number: 800 4.8rem/150% var(--font-roboto-mono);

    --p-large: 500 1.6rem/150% var(--font-roboto-flex);
    --p-medium: 500 1.4rem/150% var(--font-roboto-flex);
    --p-medium-var: 1.6rem/150% var(--font-roboto-flex);
    --p-small: 500 1.2rem/150% var(--font-roboto-flex);
    --label-medium: 700 2rem/150% var(--font-roboto-flex);
    --label-small: 700 1.6rem/150% var(--font-roboto-flex);

    /* Content Colors */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background Colors */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-grey: #3D3D3D;

    /* Accent Colors */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradientes */
    --gradient-border: linear-gradient(to right, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
}