@import url(/styles/global.css);

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding-inline: 13.4rem;
    background: url(../img/bg.png) var(--background-primary);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body > svg {
    margin-top: 7.6rem;
    margin-bottom: 8.9rem;
}

main {
    display: flex;
    gap: 10.8rem;
    text-align: center;

    .left-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 3.8rem;

        .title {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            width: 90%;

            p {
                font: var(--overline);
                text-transform: uppercase;
                background: var(--gradient-content);
                -webkit-background-clip: text;
                background-clip: text;
            }

            h1 {
                font: var(--display-large);
                color: var(--content-primary);
                text-transform: uppercase;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 3.6rem;

            .info-explanation {
                display: flex;
                gap: 0.8rem;

                svg > path {
                    stroke: var(--content-brand);
                }

                .info-explanation-text {
                    display: flex;
                    flex-direction: column;
                    width: 60%;

                    h5 {
                        font: var(--p-medium);
                        color: var(--content-brand);
                    }

                    p {
                        font: var(--p-small);
                        color: var(--content-secondary);
                    }
                }
            }
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 4rem;

        .how {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h4 {
                font: var(--label-medium);
                text-transform: uppercase;
            }

            p {
                font: var(--p-medium-var);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .selection-container {
                display: flex;
                flex-direction: column;
                gap: 2.8rem;

                .selection-container-fields {
                    display: flex;
                    text-align: center;
                    gap: 1.2rem;

                    .selection-quantity, .selection-from, .selection-to {
                        display: flex;
                        flex-direction: column;
                        gap: .8rem;

                        h4 {
                            font: var(--label-medium);
                            text-transform: uppercase;
                            color: var(--content-secondary);
                        }

                        .selection-quantity-field, .selection-from-field, .selection-to-field {
                            background: var(--background-secondary) padding-box;
                            width: 10rem;
                            height: 7rem;
                            border-radius: .8rem;
                            padding: .4rem 5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid transparent;

                            input {
                                width: 7rem;
                                text-align: center;
                                background: none;
                                border: none;
                                border: 1px solid transparent;
                                font: var(--display-small);
                                color: var(--content-primary);
                            }
                        }
                        
                        .selection-quantity-field:has(:focus), .selection-from-field:has(:focus), .selection-to-field:has(:focus) {
                            border: 1px solid var(--content-brand);

                            input {
                            outline: none;
                            }
                        }
                    }      
                }

                .selection-radio {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    position: relative;

                    input {
                        inset: 0;
                        position: absolute;
                        opacity: 0;
                    }

                    .selection-radio-field:has(input:checked) {
                        background: var(--gradient-background);

                        .selection-radio-circle {
                            transform: translateX(1rem);
                        }
                    }
                    
                    .selection-radio-field {
                        width: 3rem;
                        height: 2rem;
                        border-radius: 1.6rem;
                        padding: .1rem;
                        background: var(--content-secondary);
                        display: flex;
                        align-items: center;
                    }

                    .selection-radio-circle {
                        width: 1.8rem;
                        height: 1.8rem;
                        background-color: white;
                        border-radius: 100%;
                        border: .1rem solid var(--content-secondary);
                        transition: 0.2s ease-in-out;
                    }

                    p {
                        font: var(--p-medium);
                        color: var(--background-grey);
                        transition: 0.2s ease-in-out;
                    }
                }

                .selection-radio:has(input:checked) {
                    p {
                        color: var(--content-primary);
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                gap: .8rem;
                padding: 1.6rem;

                font: var(--p-medium-var);
                color: var(--content-primary);

                background: var(--background-tertiary);
                border: none;
                border: 2px solid transparent;
                border-radius:.8rem;       

                p {
                    text-transform: uppercase;
                }
            }

            button:hover {
                background: linear-gradient(#111012,#111012) padding-box, var(--gradient-background) border-box;
                background-size: 500% 100%;
                animation: backgroundButton 0.3s linear infinite;
                transition: 0.3s ease-in-out;
                transform: border-box 0.3s ease-in-out;

                border: 2px solid transparent;
                border-radius:.8rem; 
                cursor: pointer;

                svg {
                    animation: gradientAnimation 2s ease infinite;
                }

            }
        }
    }

    .result-container {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        transition: all 0.5s ease-in-out;

        .result-title {
            display: flex;
            flex-direction: column;
            gap: .4rem;

            h3 {
                font: var(--label-medium);
                color: var(--content-primary);
                text-transform: uppercase;
            }

            h5 {
                font: var(--overline);
                color: var(--content-secondary);
                text-transform: uppercase;
            }
        }

        .result-answer {
            display: flex;
            gap: 2rem;

            .result-answer-number {
                background: var(--content-brand);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.8rem;
                border-radius: 2.8rem;
                animation: resultAnimation 2s ease;

                h2 {
                    font: var(--result-number);
                    animation: fadeAnimation 1.3s ease;
                }
            }
        }

        .result-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .8rem;
            padding: 1.6rem 1.8rem;

            background-color: var(--background-tertiary);
            border: none;
            border-radius: .8rem;

            p {
                font: var(--label-medium);
                color: var(--content-primary);
                text-transform: uppercase;
            }
        }
    }
}

@keyframes gradientAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translatex(10px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes backgroundButton {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes resultAnimation {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
        rotate: 360deg;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}